@model ExerciseFormViewModel

@{
    ViewData["Title"] = "Exercise Form";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">@(Model.Id.Equals(0) ? "Add" : "Edit") Exercise</h3>

    </div>
    <div class="card-body">
        <form method="post" asp-controller="Exercises" enctype="multipart/form-data" id="form">
            @if (Model.Id > 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="mb-10">
                <!--begin::Image input-->
                @*//to render image from cloudainry style="background-image: url(@(string.IsNullOrEmpty(Model.ImageUrl) ? "/images/image-placeholder.jpg" : Model.ImageUrl))"*@
                <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url(@(string.IsNullOrEmpty(Model.ImageUrl) ? "/images/image-placeholder.jpg" : Model.ImageThumbnailUrl)">
                    <!--begin::Image preview wrapper-->
                    <div class="image-input-wrapper w-125px h-200px"></div>
                    <!--end::Image preview wrapper-->
                    <!--begin::Edit button-->
                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                           data-kt-image-input-action="change"
                           data-bs-dismiss="click">
                        <i class="bi bi-pencil-fill fs-7"></i>

                        <!--begin::Inputs-->
                        <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Edit button-->
                    <!--begin::Cancel button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="cancel"
                          data-bs-dismiss="click">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel button-->
                    <!--begin::Remove button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="remove"
                          data-bs-dismiss="click">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove button-->
                </div>
                <div class="form-text">Allowed file types: png, jpg, jepg and cannot be more than 2MB</div>
                <span asp-validation-for="Image" class="text-danger d-block"></span>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid form-control form-control-solid-solid" placeholder="Title" asp-for="Title" />
                                    <label asp-for="Title"></label>
                                </div>
                                <span asp-validation-for="Title" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <select class="form-select form-select-solid js-select2" data-placeholder="Select Author" asp-for="CategoryId" asp-items="@Model.Categories">
                                        <option value="">Select category</option>
                                    </select>
                                    <label asp-for="CategoryId"></label>
                                </div>
                                <span asp-validation-for="CategoryId" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                   

                </div>
                <div class="col-md-7">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <textarea class="form-control form-control-solid js-tinymce" placeholder="Description" asp-for="Description"></textarea>
                            <label asp-for="Description"></label>
                        </div>
                        <span asp-validation-for="Description" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" form="form">
            <span class="indicator-label">
                Save
            </span>
            <span class="indicator-progress">
                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a class="btn btn-light text-primary" asp-action="Index">Cancel</a>
    </div>
</div>

@section Scripts {
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial" />
}